html{
    background:url(https://scontent-mia1-1.xx.fbcdn.net/v/t31.0-8/18953428_4114212620399_5855913917773055833_o.jpg?oh=56987f927c8bb0004c55268c9fe985c2&oe=59CC5489);
    background-repeat: no-repeat;
    background-size: cover;
}
.superhero_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smallContainer{
    width: 50%;
    text-align: center;
    border: 10px outset lightgrey;
    margin: 20px;
    background: white;
    font-size: x-large;
    min-width: 500px;
}
.smallContainer img{
    border: 10px solid grey;
    justify-content: center;
    margin:20px;
    width: 50%;
}

.smallContainer .name {
    font-weight: bold;
    text-transform: uppercase;
}

.smallContainer .description{
    margin: 30px;
}